fastapi==0.95.1
uvicorn[standard]==0.22.0
python-dotenv==1.0.0
aiomysql==0.0.22
tortoise-orm==0.19.3
SQLAlchemy
pydantic
pytest
pymysql
cryptography
python-jose
python-jose[cryptography]
requests
pytest-cov
boto3
botocore 
awscli
aws-lambda-powertools
aws-xray-sdk
mangum
sqlalchemy-utils